<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="temacss" rel="stylesheet" href="/static/css/style.css">
    <script src="/static/JS/script.js" defer></script>
    <title>Trabalho Final Web</title>
</head>
<body>
    <form action="">
        <div class="input-container">
            <label for="titulo">Titulo*</label>
            <input type="text" name="titulo" id="titulo">
            <span class="hide span">Campo Obrigatório</span>
        </div>

        <div class="input-container">
            <label for="descrição">Descrição*</label>
            <input type="text" name="descrição" id="descrição">
            <span class="hide span">Campo Obrigatório</span>
        </div>
        <br>
        <div class="btn">
            <input type="submit" value="Enviar" id="btnEnviar">
            <input type="button" value="Adicionar Campo" id="btnAddField">
        </div>
    </form>
</body>
</html>